body {
    background-color: #d1e5ec;
}

.todo-list {
    background-color: #87c9e2;   
    margin: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 30px;
}

.todo-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 0;
    width: 70%;
    border-bottom: 1px solid black;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #333333;
}

input[type=checkbox] {
    margin-right: 10px;
    font-size: 30px;
}

input[type=checkbox]:focus {
    outline: 0;
}